/*  nav bar  css style  */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    color: #555555;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    display: inline-block;
    margin: 2px;
}

ul{
  padding: 1.5rem;
    display: inline-block;
}
nav{
    width: 100%;
    background-color: black;
}


a{
    text-decoration: none;
    color: #ffffff;
}


.clr{clear: both;}

.nav-bar{
    width: 80%;
    margin: auto;


}
.nav-bar ul{
    list-style-type: none;
    float: right;
}

.nav-bar li{
    float: right;
    margin-right: 1rem;
    
}

.nav-bar .logo{
    font-size:24px;
    padding: 1.2rem 0;
    float: left;
}
.nav-bar .logo a{color: #ff305b;}
.nav-bar .main a{color:#fff}
.nav-bar .main{
    overflow: auto;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 1.2rem 0;
}
.nav-bar .main .Home{color:#ff305b ;}
a:hover {
    color:wheat ;
    background-color: brown;
}


.background-color{
    width: 100%;
    background: rgba(0, 0,0,0.8);
    height: 100%;    
}
.flik{
    background-image: url('../img/slider-01.jpg');
    height: 100vh;
    background-size: 100% 100%;
}


 .mobile-menu-bar{
    display: inline-block;
    padding: 1.5rem;
    text-align: right;
    margin-right: 1rem;
    color: #fff;
    font-size: 20px; 
    display: none;
  } 

  
  
  /* .mobile-menu-bar p{
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
  }
   */

/* resposive navbar  */


@media (max-width: 800px) {

    /* .mobile-menu-bar{
        display: block;
      }
    
      .menu a:hover{
      background: #eee;
      color: #000;
      transition-duration: 0.5s;
    } */

    
    .mobile-menu-bar i{
     
        cursor: pointer;
      } 
    
     
    
      /* .menu a{
        display: block;
        text-align: center;
      } */
    
      

    
    .logo
    {
        float: none;
    }
    .nav-bar li{
        float: none;
        display: block;
        margin: 10px 0;
        width: 100%;
        display: inline-block;
      
    }

    .mobile-menu-bar
    {
        float: right;
        display: inline-block;
    }
  .flik .main {
    display: block;
    text-align: center;
    display: block;
  }
  
  .nav-bar ul{
    display: block;
    background-color: rgba(0,0,0,0.6);
    width: 70%;
    text-align: center;
    display: none;
    
  }
  
  /* .flik .main li {
    
     
  } */

  .flik .main li a
  {
    display: block;
   
  }
}


.active{
    display:block !important;
  }
  /* end nav bar  */
/* card section */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    width: 30%;
    display: inline-block;
    margin-left: 2rem;
  }

  .product
  {
    padding-top: 5rem;
    width: 100%;
    margin: 0 auto;
    background-color: 0000;
    padding-bottom: 3rem;
  }

  .product h2
  {
    color: black;
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
  }
  

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* .card-image {
    background-image: url('../img/product1.jpeg');
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;

  } */

  .card-image img
  {
    width: 100%;
    height: 15rem;
  }

  .card-text {
    padding: 2px 16px;
  }

  .card-text h4 {
    margin: 10px 0;
  }
  .card-text h4 a
  {
    color: #000;
  }
  .card-text p {
    font-size: 14px;
    color: black;
  }

  .card-text .price {
    font-size: 18px;
    font-weight: bold;
  }

  @media (max-width: 600px) {
    .card {
      width: 90%; 
    }
  }


  /* footer */


  /* ====================//////////////////////////////////////////////////// */


.like{
    max-width: 100%;
    background-color:#000;
    padding: 120px 15px 132px;
}

.like h2{
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.like a{
    color: #00ffaf;
}


/* =========================================== */

.footer{
    background: #333333 ;
    padding: 50px 0;
}
.icon-footer li{
    float: left;
    padding: 5px;
    color: #ffffff;
}
.icon-footer li a{
    text-decoration: none;
    color: #ffffff;
}
.icon-footer ul{
    list-style-type: none;
    display: inline-block;
}
.icon-footer{
    overflow: auto;
    text-align: center;
    
}
.copy{
    text-align: center;
}
.footer p{
    color: #ffffff;
    
}
.copy a{
    color: #ff305b;
}
.icon-footer li a:hover {
    color: #ff305b;
    border-color: #ff305b;
  }

  /* product desc */
.product-card{
    margin-top: 5rem;
    background-color: black;
    padding: 2rem;
}
  .left-column img
  {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
  }
  

  .product-card {
    width: 100%;
  }
  
  .left-column {
    margin-left: 1rem;
    float: left;
    width: 40%;
  }
  
  .right-column {
    float: right;
    width: 55%;
  }
 
  .clearfix {
    clear: both;
  }
  
  .product-title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
  }
  
  .product-description {
    font-size: 1.5rem;
    line-height: 1.5;
    /* margin: 1rem; */

  }
  
  @media (max-width: 800px) {
    .left-column,
    .right-column {
      width: 100%;
      float: none;
    }
  }
  

  /* users pages is  css  */

  .users-table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .users-table th,
  .users-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    color: #fff;
    background-color: #000;
  }
  
  .users-table th {
    text-align: left;
  }
  
  .users-tb
  {
    margin-top: 5rem;
    margin-bottom: 1rem;
    color: #000;
  }
  
  @media (max-width: 800px) {
    .users-table {
      border: 0;
    }
    
    .users-table thead {
      border: none;
      /* hidden  */
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .users-table tr {
      border-bottom: 3px solid #dddddd;
      display: block;
      margin-bottom: 0.625em;
    }
    
    .users-table td {
      border-bottom: 1px solid #dddddd;
      display: block;
      font-size: 0.8em;
      text-align: left;
    }
    
    /* .users-table td::before { */
      /* content: attr(data-label); */
      /* float: left;
      font-weight: bold;
      text-transform: uppercase;
    } */
    
    .users-table td:last-child {
      border-bottom: 0;
    }
  }
  
